body {
    font-family: sans-serif;
    max-width: 1200px;
    margin-inline: auto;
    padding-inline: 10px;
}

.wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.wrapper img {
    width: 120px;
    cursor: pointer;
}

.form {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 30px;
}

.form input {
    width: 350px;
    padding: 10px 10px;
    margin-right: 10px;
    /* outline: none; */
    user-select: none;
}

.btn {
    border: none;
    outline: none;
    padding: 12px 35px;
    background-color: #ed4c67;
    color: white;
    font-weight: 600;
    border-radius: 3px;
    cursor: pointer;

}
.container h2{
    margin-top: 40px;
}


.Card-container{
    padding: 10px;
    display: inline-block;
    font-family: sans-serif;
    border-radius: 5px;
    width: 300px;
    margin:  10px 5px;
    margin-left: 50px;
    cursor: pointer;
    transition: .4s;
}
.Card-container:hover{
    box-shadow: 0 0 10px 2px rgba(0, 0, 0, 0.1);
}
.Card-container img{
    width: 100%;
    height: 200px;
    border-radius: 3px;
}
.left-text{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.left-text p{
    font-size: .8rem;
}
.left-text span{
    background-color: rgba(36, 150, 63);
    padding: 2px 4px;
    font-size: 13px;
    border-radius: 6px;
    color: white;
}
.right-text{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.right-text p{
    font-size: .8rem;
}

.little{
    display: flex;
    justify-content: left;
    align-items: center;

}
.little img{
    width: 20px;
    height: 20px;
}
.little p{
    font-size: .8rem;
    margin-left: 10px;
}
.line{
    border-bottom: 1px solid rgb(161, 154, 154);
}